@using System.Web.Mvc
@using System.Web.Mvc.Html
@using HtmlHelper = System.Web.Mvc.HtmlHelper
@using DistantLearningSystem.Models.DataModels

@helper AddButton(HtmlString actionLink)
{
    <button type="button" class="btn  btn-success link-button">@actionLink</button>
}
@helper ProccessResultContainer(ProcessResult result = null, HtmlHelper html = null)
{
    if (result != null && !result.IsEmpty)
    {
        string classes = "alert  alert-dismissable ";
        classes += result.Succeeded ? "alert-success" : "alert-danger";
        <div class="@classes">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @if (html == null)
            {
                <span>@result.Message</span>
            }
            else
            {
                <span>@html.Raw(result.Message)</span>
            }
        </div>
    }
}


@helper EditButton(HtmlString actionLink)
{
    <button type="button" class="btn  btn-primary link-button">@actionLink</button>
}
@helper BreadCrumbs(HtmlHelper html, string text, string action, string controller)
{
    @html.ActionLink(text, action, controller)
}
@helper ImageUpload(string path = null, string alt = "", bool required = false)
{
    if (!String.IsNullOrWhiteSpace(path))
    {
        path = "/" + path;
        <input type="hidden" name="DeleteImage" id="DeleteImage" value="false" />
        <div class="removable-image">
            <img class="thumb" src="@path" alt="@alt" title="@alt" />
            <img class="cross" onclick="HideImage()" src="/Images/Icons/x.png" title="Удалить" alt="Удалить" />
        </div>
            <script>
            //TODO: fix with multiple
            function HideImage() {
                $(".removable-image").hide('slow');
                $("#DeleteImage").val(true);
            }
        </script>
    }
    if (!required)
    {
        <input id="imageUpload" accept="image/*" name="imageUpload" type="file" />
    }
    else
    {
        <input id="imageUpload" accept="image/*" name="imageUpload" type="file" required="required" />
    }
}
@helper SubmitButton(string onclick = null)
{
    if (onclick == null)
    {
        <input type="submit" value="Подтвердить" class="btn btn-default btn-outline " />
    }
    else
    {
        <input type="submit" value="Подтвердить" onclick="@onclick" class="btn btn-default btn-outline " />
    }
}

@helper DefaultButton(string onclick = null)
{
    if (onclick == null)
    {
        <input type="button" value="Подтвердить" class="btn btn-default btn-outline " />
    }
    else
    {
        <input type="button" value="Подтвердить" onclick="@onclick" class="btn btn-default btn-outline " />
    }
}

@helper BackButton(HtmlString actionLink)
{
    <button type="button" class="btn btn-default link-button">@actionLink</button>
}








