@using DistantLearningSystem.Models.DataModels
@using System.Collections.Generic
@model IEnumerable<Lecturer>

@{
    ViewBag.Title = "Информация о преподавателях";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}

<h2>Информация о преподавателях специальности ПИ</h2>

<div class="row" style="margin-top:4%">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ФИО</th>
                                <th>Фотография </th>
                                <th>Логин </th>
                                <th>Email</th>
                                <th>Должность</th>
                                <th>Последний визит</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var lecturer in Model.OrderBy(x => x.LastName + x.Name))
                                {
                                    <tr>
                                        <td>@Html.ActionLink(lecturer.LastName + " " + lecturer.Name, "GetLecturerInfo", "User", new { userId = lecturer.Id }, null)</td>
                                        <td align="center">@HtmlManager.Image(lecturer.ImgSrc + "?w=100", ViewBag.Title)</td>
                                        <td>@Html.ActionLink(lecturer.Login, "GetLecturerInfo", "User", new { userId = lecturer.Id }, null)</td>
                                        <td>@Html.ActionLink(lecturer.Email, "#")</td>
                                        <td>@lecturer.Position</td>
                                        <td>@String.Format("{0} в {1}", lecturer.LastVisitDate.ToShortDateString(), lecturer.LastVisitDate.ToShortTimeString())</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <p>Студентов не обнаружено</p>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>